---
kind: Ingress
apiVersion: networking.k8s.io/v1beta1
metadata:
  name: data-manager-api
  namespace: {{ dt_namespace }}
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt-nginx-{{ dt_cert_issuer|lower }}"
    kubernetes.io/ingress.class: "nginx"
    nginx.ingress.kubernetes.io/use-regex: "true"
    nginx.ingress.kubernetes.io/rewrite-target: /{{ dt_hostname_path }}
    nginx.ingress.kubernetes.io/proxy-body-size: "{{ dt_ingress_proxy_body_size }}"
    nginx.ingress.kubernetes.io/enable-cors: "true"
    nginx.ingress.kubernetes.io/cors-allow-credentials: "true"
spec:
  tls:
  - hosts:
    - {{ dt_hostname }}
    secretName: data-manager-api-tls
  rules:
  - host: {{ dt_hostname }}
    http:
      paths:
      - path: /{{ dt_hostname_path }}
        backend:
          serviceName: data-manager-api
          servicePort: http
