---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: dataset
  namespace: {{ dt_namespace }}
spec:
  accessModes:
  - ReadWriteOnce
{% if dt_data_volume_storageclass != ' ' %}
  storageClassName: {{ dt_data_volume_storageclass }}
{% endif %}
  resources:
    requests:
      storage: '{{ dt_data_volume_size_g }}Gi'
