---
kind: Secret
apiVersion: v1
metadata:
  name: database
  namespace: {{ dt_namespace }}
stringData:
  user_password: {{ dt_database_user_password_fact }}
  data_tier_user_password: {{ dt_database_data_tier_user_password_fact }}
