---
kind: StatefulSet
apiVersion: apps/v1
metadata:
  name: data-manager-api
  namespace: {{ dt_namespace }}
spec:
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      name: data-manager-api
  serviceName: data-manager-api
  template:
    metadata:
      name: data-manager-api
      labels:
        name: data-manager-api
    spec:
      serviceAccountName: data-manager-api

      # We must have a 'core' node
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: informaticsmatters.com/purpose
                operator: In
                values:
                - core

      # To access the mounted data volume
      # we set the security context's fsGroup
      # to the group that will be using the volume.
      # In this case it's the `madt` group in the container
      # (obtained empirically)
      securityContext:
        fsGroup: 1000

      # Implementation currently relies on three closely-related
      # container images:-
      #   The Data Tier Manager API
      #   The Data Tier Celery-based Task Worker
      #   The Celery Message Broker (RabbitMQ)
      # The Data Tier and Task Worker share a data volume
      containers:

      - name: data-manager-api
        image: {{ dt_image_registry }}/{{ dt_image_name }}:{{ dt_image_tag }}
{% if dt_image_tag in ['latest', 'stable'] %}
        imagePullPolicy: Always
{% else %}
        imagePullPolicy: IfNotPresent
{% endif %}
        terminationMessagePolicy: FallbackToLogsOnError
        ports:
        - containerPort: 8080
          name: http
        env:
        - name: IMAGE_ROLE
          value: DataTier
        - name: CELERY_RESULT_BACKEND
          value: db+postgresql://datatier:{{ dt_database_data_tier_user_password_fact }}@database.{{ dt_namespace }}.svc:5432/datatier
        - name: CELERY_BROKER_URL
          value: amqp://guest:guest@localhost:5672//
        - name: REQUIRED_ROLE
          value: {{ dt_required_role }}
        - name: DT_DATABASE_HOST
          value: database.{{ dt_namespace }}.svc
        - name: DT_SQLALCHEMY_DATABASE_URI
          value: postgresql://datatier:{{ dt_database_data_tier_user_password_fact }}@database.{{ dt_namespace }}.svc:5432/datatier
        - name: DT_SENTRY_DSN
          value: '{{ dt_sentry_dsn }}'
        - name: DT_API_HOSTNAME
          value: '{{ dt_hostname }}'
        - name: DT_AUTHORISATION_HOSTNAME
          value: '{{ dt_authorisation_hostname }}'
        # CICD_TRIGGER_ID is variable whose value is used to force
        # a redeployment of the underlying containers. This is used in
        # situations where the origin image's tag may not have changed
        # (e.g. it's 'latest' or 'stable') but a new build is expected to
        # be available. Without changing something in the Deployment spec
        # a roll-out will not occur if the tag has not changed.
        - name: CICD_TRIGGER_ID
          value: '{{ ansible_date_time.iso8601_micro }}'
        readinessProbe:
          tcpSocket:
            port: 8080
          initialDelaySeconds: 5
          timeoutSeconds: 3
          periodSeconds: 15
          successThreshold: 1
          failureThreshold: 3
        livenessProbe:
          tcpSocket:
            port: 8080
          initialDelaySeconds: 5
          timeoutSeconds: 3
          periodSeconds: 60
          successThreshold: 1
          failureThreshold: 3
        resources:
          requests:
            cpu: {{ dt_cpu_request }}
            memory: {{ dt_mem_request }}
{% if dt_cpu_limit or dt_mem_limit %}
          limits:
{% if dt_cpu_limit %}
            cpu: {{ dt_cpu_limit }}
{% endif %}
{% if dt_mem_limit %}
            memory: {{ dt_mem_limit }}
{% endif %}
{% endif %}
        volumeMounts:
        - mountPath: /dataset
          name: dataset

      - name: celery-worker
        image: {{ dt_image_registry }}/{{ dt_image_name }}:{{ dt_image_tag }}
{% if dt_image_tag in ['latest', 'stable'] %}
        imagePullPolicy: Always
{% else %}
        imagePullPolicy: IfNotPresent
{% endif %}
        terminationMessagePolicy: FallbackToLogsOnError
        env:
        - name: IMAGE_ROLE
          value: DataTierWorker
        - name: CELERY_RESULT_BACKEND
          value: db+postgresql://datatier:{{ dt_database_data_tier_user_password_fact }}@database.{{ dt_namespace }}.svc:5432/datatier
        - name: CELERY_BROKER_URL
          value: amqp://guest:guest@localhost:5672//
        - name: DT_DATABASE_HOST
          value: database.{{ dt_namespace }}.svc
        - name: DT_SQLALCHEMY_DATABASE_URI
          value: postgresql://datatier:{{ dt_database_data_tier_user_password_fact }}@database.{{ dt_namespace }}.svc:5432/datatier
        # CICD_TRIGGER_ID is variable whose value is used to force
        # a redeployment of the underlying containers. This is used in
        # situations where the origin image's tag may not have changed
        # (e.g. it's 'latest' or 'stable') but a new build is expected to
        # be available. Without changing something in the Deployment spec
        # a roll-out will not occur if the tag has not changed.
        - name: CICD_TRIGGER_ID
          value: '{{ ansible_date_time.iso8601_micro }}'
        resources:
          requests:
            cpu: {{ dt_w_cpu_request }}
            memory: {{ dt_w_mem_request }}
{% if dt_w_cpu_limit or dt_w_mem_limit %}
          limits:
{% if dt_w_cpu_limit %}
            cpu: {{ dt_w_cpu_limit }}
{% endif %}
{% if dt_w_mem_limit %}
            memory: {{ dt_w_mem_limit }}
{% endif %}
{% endif %}
        volumeMounts:
        - mountPath: /dataset
          name: dataset

      - name: celery-msg-broker
        image: {{ dt_mb_image }}
        imagePullPolicy: IfNotPresent
        terminationMessagePolicy: FallbackToLogsOnError
        resources:
          requests:
            cpu: {{ dt_mb_cpu_request }}
            memory: {{ dt_mb_mem_request }}
{% if dt_mb_cpu_limit or dt_mb_mem_limit %}
          limits:
{% if dt_mb_cpu_limit %}
            cpu: {{ dt_mb_cpu_limit }}
{% endif %}
{% if dt_mb_mem_limit %}
            memory: {{ dt_mb_mem_limit }}
{% endif %}
{% endif %}

      volumes:
      - name: dataset
        persistentVolumeClaim:
          claimName: dataset

      imagePullSecrets:
      - name: data-manager-api
